<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>BlogIN</title>
  <link rel="icon" href="../image/template/blog_in.png" type="image/png" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />


  <style>
    @import url("https://fonts.googleapis.com/css?family=Blinker:400,800&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

    body {
      font-family: Blinker, sans-serif;
      letter-spacing: 0.1rem;
      overflow-x: hidden;
      background-image: url(../image/template/jess-bailey-5xjw079i6Q4-unsplash.jpg);
      background-size: cover;
    }

    .navbar {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-family: Blinker, sans-serif;
      color: black;
    }

    .navbar-links {
      height: 100%;
      float: initial;
    }

    .navbar-links ul {
      display: flex;
      margin: 0;
      padding: 0;
      padding-bottom: 1rem;
      color: black;
    }

    .navbar-links li {
      list-style: none;
      margin-right: 2rem;
      color: black;
    }

    .navbar-links li a {
      display: block;
      text-decoration: none;
      color: black;
      padding: 1rem;
      font-size: 1.4rem;
      letter-spacing: 0.1;
    }

    .navbar-links :hover {
      color: darkgoldenrod !important;
      transition: all 0.3s ease;
    }


    .event-page {
      margin-bottom: 2rem;
      font-size: 3vw;
      color: black;
      text-align: center;
      letter-spacing: 0.3rem;
      font-family: "Montserrat", sans-serif;
      padding-top: 1rem;
    }

    .container {
      width: 1130px;
      background-color: white;
      height: 700px;
      border-radius: 10px;
      padding-bottom: 100px;
      border-radius: 0px 30px 0px 30px;
      border-bottom: 7px solid darkslategray;
      border-right: 7px solid darkslategray;

    }


    .title {
      color: black;
      font-size: 50px;
      font-weight: 600;
      text-align: center;
      padding-top: 10px;
      overflow-wrap: break-word;

    }

    .content {
      color: black;
      font-size: 20px;
      font-style: italic;
      margin-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 50px;
      overflow-wrap: break-word;
    }

    .Creator {
      color: black;
      font-size: 15px;
      font-weight: 400;
      text-align: right;
      padding-right: 20px;
      padding-top: 10px;
      overflow-wrap: break-word;
    }
  </style>
</head>

<body>


  <nav class="navbar">
    <div>
      <a href="/" class="navbar-brand animated flip"><img src="../image/template/logo.png" alt=""></a>

    </div>
    <div class="navbar-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add">Create New Blog</a></li>
        <li><a href="/view">View other's Blogs</a></li>
        <li><a href="/mine">My Blogs</a></li>
        <li><a href="/contact">Contact </a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <center>
      <div class="container ">
        <div class="title">
          <u> {{title}}</u>
        </div>
        <div class="Creator">- {{username}} on {{created_at}}</div>
        <div class="Creator"> Last Updated on - {{updated_at}}</div>
        <div class="content">
          <p>{{content}}</p>
        </div>
      </div>
    </center>
    <div id='status' class='invisible'>{{errormessage }}</div>

  </div>
</body>

</html>